<h1>The Student Information Management System</h1>
<% if (user) { %>
   <p>Hello, <%= user.name %> you are logged in.</p>
   <form method="POST" action="/sessions/logoff">
    <input type="hidden" name="_csrf" value="<%=_csrf %>">
    <button>Logoff</button>
   </form>
<% } %>
<% if (errors) {
    errors.forEach((err) => { %>
      <div>
        Error: <%= err %>
      </div>
    <% })
  } %>
  <% if (info) {
    info.forEach((msg) => { %>
      <div>
        Info: <%= msg %>
      </div>
    <% })
  } %>
<hr />