<%- include('../partials/head.ejs', {errors, info}); %>
<h1 style="text-align: center;">Student Information Management System</h1>
<div style="text-align: center;">
    <img src="sims.png" alt="Student Information Management System" width="400px" height="300px">
</div>
<h2 style="text-align: center;"><button><a href="/logon">Sign in</a></button> or <button><a href="/sign-up">Register</a></button></p>
</body>
</html>