<%- include('../partials/head.ejs', {errors, info}); %>
<h1 style="text-align: center;">Student Information Management System</h1>
<h2 style="text-align: center;"><a href="/logon">Sign in</a> or <a href="/sign-up">Register</a></p>
</body>
</html>