<%- include("../partials/head.ejs", {errors, info}) %>
   <p style="text-align: center;">The page <%= url %> was not found.</p>
   <div style="text-align: center;">
      <img src="notFound1.png">
   </div>
   <p style="text-align: center;"><a href="/">Back</a></p>
<%- include("../partials/footer.ejs") %>